// fonts
$font-principal: "Zeyada";
$font-title: "Gloock", serif;

// colors
$color-blue: rgb(196, 207, 237);
$color-sblue: #A0C3D2;
$color-pink: #b57d7d;
$color-spink: #EAC7C7;
$color-swhite: #F7F5EB;
