<main class="main">
  <form  class="form" action="" id="result">
    <input type="text" class="search__text js_input_text" name="name" id="name" placeholder="Nombre del cóctel" />
    <button class="search__btn js_search">Buscar</button>
    <button class="search__btn js_reset">Reset</button>
  </form>
  <section class="sections__list">
    <div class="section__fav">
      <h2 class="section__fav--titleFav">Cócteles favoritos</h2>
    <ul id="cocktails-favourites" class="section__fav--ulFAv js_favourites">
      <!--li-->
    </ul>
    </div>
    <div class="section__all">
      <h2 class="section__all--title">Lista</h2>
      <ul id="cocktails-list" class="js_list section__all--ul">
      <!-- li-->
    </ul>
    </div>
  </section>
</main>
